{% extends "base.html" %}
{% load static %}
{% block content%}
      <div class="col-8 mx-1 text">
        <div class="row mb-3">
          <h2>Группы студии "БукиЛэнд"</h2>
        </div>
        <div class="row mt-3 pt-3">
            <div class="col-4">
              <table class="table table-borderless">
                <thead>
                  <tr class="font-weight-bolder text-white border-bottom">
                    <th width="3%"></th>
                    <th width="55%" class="text-center">Группа № 1</th>
                  </tr>
                </thead>
                <tbody><!-- /*class="text-white font-weight-bolder"*/ -->
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">1.</td>
                    <td class="pb-0" style="text-align: left;">Сидорова А.Н.</td>
                  </tr>
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">2.</td>
                    <td class="pb-0" style="text-align: left;">Семенова И.В.</td>
                  </tr>
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">3.</td>
                    <td class="pb-0" style="text-align: left;">Малышев А.И.</td>
                  </tr>
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">4.</td>
                    <td class="pb-0" style="text-align: left;">Петров А.А.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-4">
              <table class="table table-borderless">
                <thead>
                  <tr class="font-weight-bolder text-white border-bottom">
                    <th width="3%"></th>
                    <th width="55%" class="text-center">Группа № 2</th>
                  </tr>
                </thead>
                <tbody><!-- /*class="text-white font-weight-bolder"*/ -->
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">1.</td>
                    <td class="pb-0" style="text-align: left;">Иванова М.С.</td>
                  </tr>
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">2.</td>
                    <td class="pb-0" style="text-align: left;">Смирнов В.П.</td>
                  </tr>
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">3.</td>
                    <td class="pb-0" style="text-align: left;">Петров И.А.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-4">
              <table class="table table-borderless">
                <thead>
                  <tr class="font-weight-bolder text-white border-bottom">
                    <th width="3%"></th>
                    <th width="55%" class="text-center">Группа № 3</th>
                  </tr>
                </thead>
                <tbody><!-- /*class="text-white font-weight-bolder"*/ -->
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">1.</td>
                    <td class="pb-0" style="text-align: left;">Игнатьев С.Б.</td>
                  </tr>
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">2.</td>
                    <td class="pb-0" style="text-align: left;">Свиридова В.И.</td>
                  </tr>
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">3.</td>
                    <td class="pb-0" style="text-align: left;">Темнов И.В.</td>
                  </tr>
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">4.</td>
                    <td class="pb-0" style="text-align: left;">Васильев А.В.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-4">
              <table class="table table-borderless">
                <thead>
                  <tr class="font-weight-bolder text-white border-bottom">
                    <th width="3%"></th>
                    <th width="55%" class="text-center">Индивидуально</th>
                  </tr>
                </thead>
                <tbody><!-- /*class="text-white font-weight-bolder"*/ -->
                  <tr class="podsvetka">
                    <td width="5%" class="pb-0">1.</td>
                    <td class="pb-0" style="text-align: left;">Измайлов В.А.</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>

{% endblock %}
