/* .podsvetka::after {
    color: #e99b0a;
    background: #0ae967;
}*/
body {
  background-image: linear-gradient(180deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url('img/England_Rivers_Bridges_People_Tower_Bridge_London_608840_1920x1200.jpg');
  background-size: cover;
}

  :root {
    --bs-link-color: #00ff37;
    --bs-link-hover-color: #9ec5fe;
    --bs-link-focus-color: #ec239f;
    /*--bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 158, 197, 254;*/
  }

  a {
    color: var(--bs-link-color); /* Sets the default link color to the provided value */
    
  }
  
  a:hover {
    color: var(--bs-link-hover-color); /* Changes the link color on hover to the provided value */
   
}

  /* a:focus {
    color: var(--bs-link-hover-color); /* Changes the link color on hover to the provided value */
 /*} */


 .podsvetka:hover {
    color: #000000;
    background: #9ec5fe;
  }

.btn-white {
  border-width: 2px;
  border-color: #ffffff;
  color: #ffffff;
}

 .text {
    color: #ffffff;
    font-weight: bolder;
    font-family: cursive;

}

tbody {color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    
}

thead {color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  
}

.th-week {
  font-size: 18px;
  font-weight: bold;

}

.th-time {
  font-size: 18px;
  font-weight: bold;

}

.td-week {
  font-size: 6px;
  font-weight: normal;

}

.table {
    color: #ffffff;
    font-weight: bolder;
    font-size: 14px;
    font-family: cursive;

}

.mytable {
  table-layout: fixed;
  width: 100%;
}

.border-time {
  border-right: #ffffff;
  border-right-width: 3px;

}

.week {
    color: #FFFF00;
    font-family: cursive;
    font-weight: normal;
    font-size: 16pt;
}

h2 {
  color: #FFFF00;
  font-family: cursive;
}

